*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: larger;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(10,10,10,1) 100%);
    color: white;
}

a {
    color: #8080da;
    text-decoration: none;
    transition: .3s linear;
}

a:hover {
    color: #b3b3d3;
}

.container {
    display: flex;
    flex-direction: column;
}